/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/img
.idea
.vscode
/public/product/images
/public/manufacturer/images
/public/dist/img
/public/distweb/img
